retinascan-ai/dataset/
retinascan-ai/dataset_raw/
retinascan-ai/train_images/

*.h5
*.keras

retinascan-ai/venv/
retinascan-ai/__pycache__/
*.pyc

backend/uploads/
retinascan/uploads/
uploads/

**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
*.class
*.log

.idea/
*.iml
.vscode/
.DS_Store
