version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: retinascan_db_container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=retinascan_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - spring-net

volumes:
  db_data:

networks:
  spring-net:
    driver: bridge